@import "tailwindcss";

@font-face {
  font-family: "Archangelsk";
  src: url("./fonts/Archangelsk.woff") format("woff"),
    url("./fonts/Archangelsk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-yellow: #F8F200;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-blue: #52BEDC;

}

@layer components {
  .header-hero {
    background-image: url('./image/header/bg-hero.jpg');
  }

  .nav-link {
    @apply max-w-6.25 max-h-6.25 md:max-w-7.5 md:max-h-7.5;
  }

  .clip-cut {
    clip-path: polygon(50px 0%,
        100% 0%,
        100% calc(100% - 50px),
        calc(100% - 50px) 100%,
        0% 100%,
        0% 50px);
  }

  .bts-yellow {
    @apply bg-black text-yellow
  }

  .bts-black {
    @apply bg-yellow text-black
  }

  .btn {
    @apply px-12.5 py-2.5 lg:px-12.5 lg:py-4.75 text-2xl leading-10 w-max font-bold cursor-pointer transition duration-300;
  }

  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }


}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Archangelsk", sans-serif;
}